# Environment variables and secrets
.env
*.env
week1/*/.env
!.env.example
!.env.exapmle

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
